.sessionMain{
    @apply container bg-white rounded-[20px] p-8;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

}
.nameSection{
    @apply pb-[10px] flex justify-between;
    border-bottom: 0.5px solid rgb(220, 196, 196) ;
    & span{
        @apply text-[20px] font-DanaMedium text-title font-DanaMedium; 

    }
    & div{
        @apply flex items-center text-[10px] text-title bg-zinc-200 rounded-[10px] p-2 ; 
        & span{
            @apply text-[10px]  
        }
        & svg{
            @apply ml-2;
        }
    }
}

.sessionVideo video{
    width: 100%;
    height: 400px;
}
.sessionDownload{
    display: flex;
    flex-direction: column;
    gap: 2px;
    & a {
        background-color: cadetblue;
    }
}